.Projects {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: row;
}
.card {
  margin: 30px;
  width: 300px;
  height: 300px;
  border: 1px solid var(--Bordes, #3D3D3D);
  background: var(--Rellenos, #21253e);
  border-radius: 5px;
  transition: transform 338ms ease-in;
}
.body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: translateY(-15px);
  transition: transform 338ms ease-in;
  cursor: pointer;
}
.head {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  width: 90%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.left {
  flex: 0.25;
  display: flex;
  justify-content: space-between;
}
@keyframes slideup {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}

.bodyhead {
  text-align: center;
  color: #71C5A5;
}
.bodycon {
  color: #fff;
  margin-top: 20px;
  width: 95%;
  font-size: 13px;
  margin-left: 10px;
}
.tile {
  color: #fff;
  text-align: left;
  font-family: "Inconsolata", monospace;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 0px 20px;
  color: #fff;
  font-family: "Inconsolata", monospace;
  align-items: center;
}