.Projects {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: row;
}
.card {
  margin: 30px;
  width: 300px;
  height: 300px;
  border: 2px solid #06101e;
  background-color: #172a45;
  border-radius: 5px;
  transition: transform 338ms ease-in;
}
.body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: translateY(-15px);
  transition: transform 338ms ease-in;
  cursor: pointer;
}
.head {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  width: 90%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.left {
  flex: 0.25;
  display: flex;
  justify-content: space-between;
}
@keyframes slideup {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}

.bodyhead {
  color: #a5b1d0;
  text-align: center;
  text-decoration: underline;
}
.bodycon {
  color: #97a2c0;
  margin-top: 20px;
  width: 95%;
  font-size: 13px;
  margin-left: 10px;
}
.tile {
  color: #576581;
  margin-top: 15px;
  text-align: left;
  margin-left: 20px;
  font-family: "Inconsolata", monospace;
}
