.body {
  min-height: 100vh;
  height: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading {
  font-size: 80px;
  text-align: center;
  font-family: "Vollkorn", serif;
  letter-spacing: 5px;
  animation: shine ease 0.5s both infinite;
  color: #71C5A5;
  margin-top: 2rem;
  line-height: 90px;
}
.heading1 {
  color: aliceblue;
  font-size: 30px;
  height: 40px;
}

.profile {
  height: 300px;
  width: 500px;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 4px #71C5A5;
}
@media screen and (max-width: 900px) {
  .heading1 {
    font-size: 25px;
  }
  .heading {
    font-size: 50px;
  }
  .profile {
    width: 300px;
  }
}
