.Contact {
  min-height: 100vh;
  height: fit-content;
  overflow: hidden;
}
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.down {
  width: 90%;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.Form {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 50%;
}
.input {
  width: 100%;
  background-color: #0a192f;
  border-radius: 5px;
  margin: 5px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-align-last: left;
  height: 40px;
  border: 2px solid grey;
  padding: 0 10px;
  outline: none;
}
.input_tomato {
  background-color: tomato;
}
.textarea {
  text-align-last: left;
  margin: 5px;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  width: 100%;
  padding: 10px 10px;
  outline: none;
}
.send {
  width: 100px;
  height: 50px;
  margin: 5px;
  background-color: #0a192f;
  border-radius: 5px;
  color: white;
  border: 2px solid grey;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
}
.send:hover {
  background-color: #71C5A5;
}
.contactlist {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.list {
  display: flex;
  justify-content: space-between;
}
.tag {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  width: 100%;
  align-self: center;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
}
.tiles {
  margin-top: 40px;
}
.copyright {
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 908px) {
  .down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .tag {
    font-size: 1.1rem;
  }
  .Form {
    width: 80%;
  }
  .contactlist {
    width: 80%;
  }
  .list {
    margin-top: 20px;
  }
  .tiles {
    margin-top: 10px;
  }
}
.send:disabled {
  display: none;
  background-color: grey;
}
